<!doctype html>

<html>

<head>
    <title>isMoblie</title>

    <!-- meta data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

</head>

<div class="introduction">

<body (click)="timer=(60 * 30)">

    <!-- SCHEDULER -->

    <div class="content-container col-md-12 col-sm-12">

        <div class="clearfix full-height">
            <h2 class="small-heading">CALENDAR</h2>
            <div class="row" style="justify-content: center">
                <div class="col-md-10">

                        <dx-scheduler
                            [crossScrollingEnabled]="crossScrollingEnabled"
                            [dataSource]="appointmentsData"
                            [views]='["day","week", "month"]'
                            currentView="month"
                            [groups]="groups"
                            recurrenceEditMode= "series"
                            [currentDate]="currentDate"
                            (onCellContextMenu)="onCellContextMenu($event)"
                            (onAppointmentContextMenu)="onAppointmentContextMenu($event)"
                            [firstDayOfWeek]="1"
                            [startDayHour]="5"
                            [height]="600">

                            <dxi-resource
                                fieldExpr="roomId"
                                label="Room"
                                displayExpr="text"
                                [dataSource]="resourcesData"
                            ></dxi-resource>

                            <dxo-editing
                            [allowAdding]="true"
                            [allowDeleting]="true"
                            [allowDragging]="true"
                            [allowResizing]="true"
                            [allowUpdating]="true">
                            </dxo-editing>

                        </dx-scheduler>

                        <dx-context-menu #appointmentMenu
                            [dataSource]="appointmentContextMenuItems"
                            target=".dx-scheduler-appointment"
                            (onItemClick)="onContextMenuItemClick($event)"
                            [width]="200">
                        <div *dxTemplate="let e of 'item'">
                            <div *ngIf="e.color">
                                <div class="item-badge" [ngStyle]="{ backgroundColor: e.color}"></div>
                            </div>
                            <div class="item-text">{{e.text}}</div>
                        </div>
                        </dx-context-menu>

                        <dx-context-menu #cellMenu
                            [dataSource]="cellContextMenuItems"
                            target=".dx-scheduler-date-table-cell"
                            (onItemClick)="onContextMenuItemClick($event)"
                            [width]="200">
                        </dx-context-menu>


                </div>
            </div>

        </div>

    </div>
</body>
</div>
</html>