    h1,h2,h3,h4,h5,h6 {
        font-family: 'Krub', sans-serif;
    }
    
    p {
        font-size: 1em;
        line-height: 1.42;
    }
    
    h1 {
        font-size: 63px;
        font-weight: 500;
        text-align: center;
    }

    .introduction {
        float: right;
        padding: 0;
        overflow-x: hidden;
        position: relative;
        width: 50vw;
        height: 100%;
    }

    .content-container {
        left: 0;
        position: relative;
        padding: 0;
        background: #e8e7e4;
    }

    h2.small-heading {
        padding: 60px 0 10px 0;
        font-size: 2.25em;
        margin-bottom: 60px;
        position: relative;
        display: block;
        text-align: center;
    }
    
    h2.small-heading::after {
        position: absolute;
        font-family: 'FontAwesome';
        font-size: 35px;
        content: "\f107";
        left: 48%;
        bottom: -28px;
        color: #000;
        background-color: #e8e7e4;
        padding: 0px 8px;
    }
    
    h2.small-heading::before {
        position: absolute;
        bottom: -10px;
        content: "";
        height: 2px;
        background-color: #000;
        display: block;
        width: 23%;
        left: 38%;
    }

    .full-height {
        min-height: 100vh;
    }

    ::ng-deep .dx-scheduler-work-space {
        height: 80vh;
    }
    
    ::ng-deep .options {
        padding: 20px;
        background-color: #f5f5f5;
        margin-top: 20px;
    }

    ::ng-deep .caption {
        font-size: 18px;
        font-weight: 500;
    }

    ::ng-deep .option {
        margin-top: 10px;
    }

    ::ng-deep .option > span {
        position: relative;
        top: 2px;
        margin-right: 10px;
    }

    ::ng-deep .option > .dx-selectbox {
        display: inline-block;
        vertical-align: middle;
    }

    ::ng-deep .dx-scheduler-appointment-content {
        padding: 5px 5px 5px 5px !important;
    }

    ::ng-deep .appointment-preview > div:first-child {
        font-size: 12px;
        white-space: normal;
    }
    
    ::ng-deep .appointment-preview > div:not(:first-child) {
        font-size: 11px;
        white-space: normal;
    }
    
    ::ng-deep .appointment-tooltip img {
        height: 80px;
        margin-bottom: 10px;
    }
    
    ::ng-deep .appointment-content {
        margin-top: 3px;
    }
    
    ::ng-deep .dx-popup-content .appointment-content {
        margin-top: 7px;
        height: fit-content;
        width: max-content;
    }
    
    ::ng-deep .appointment-badge {
        text-align: center;
        float: left;
        margin-right: 12px;
        color: white;
        width: 28px;
        height: 28px;
        font-size: 20px;
        line-height: 20px;
        border-radius: 28px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    ::ng-deep .appointment-dates {
        color: #959595;
        font-size: 12px;
        text-align: left;
        float: left;
    }
    
    ::ng-deep .appointment-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        font-size: 15px;
        text-align: left;
        float: left;
    }
    
    ::ng-deep .delete-appointment {
        position: relative;
        border: none;
        box-shadow: none;
        top: -5px;
        height: 40px;
    }
    
    ::ng-deep .delete-appointment .dx-button-content {
        width: 40px;
        height: 40px;
        padding-left: 4px;
    }
    
    ::ng-deep .delete-appointment.dx-state-hover,
    ::ng-deep .dx-list-item.dx-state-hover .dx-button {
        box-shadow: none;
        background-color: inherit;
    }
    
    ::ng-deep .delete-appointment .dx-icon {
        color: #337ab7 !important;
        font-size: 23px !important;
    }
    
    ::ng-deep .appointment-button {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
    }
    

    .aui-header,
#footer {
display: none !important;
}

#content > .aui-page-header {
display: none !important;
}

#content > .aui-page-header + .aui-panel {
display: none !important;
}

#content > .aui-page-header:first-child {
display: none !important;
}

.overlap-top {
    position: absolute;
    height: 112px;
    width: 66rem;
    background-color: #e8e7e4;
    z-index: 2000;
}

.overlap-right {
    position: absolute;
    margin-left: 64rem;
    height: 100%;
    width: 18rem;
    background-color: #e8e7e4;
    z-index: 2000;
}

/* .overlap-bottom {
    position: absolute;
    bottom: 0;
    height: 114px;
    width: 66rem;
    background-color: #e8e7e4;
} */






