    @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,300,500);
    @import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
    @import url(https://fonts.googleapis.com/css?family=Asap);

    html,
    body,
    textarea,
    button,
    input {
        /*font-family: 'Playfair Display', serif;*/
        font-family: 'Montserrat', sans-serif;
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Raleway', sans-serif;
    }
    h1{font-family: 'Raleway', sans-serif;}
    
    p {
        /*font-size: 14px;*/
        font-size: 1em;
        line-height: 1.42;
    }
    
    h1 {
        font-size: 63px;
        font-weight: 500;
        text-align: center;
    }

    .intro-content {
        font-family: 'Raleway', sans-serif;
        position: relative;
        z-index: 10;
        top: 35%;
        display: table;
        margin: 0 auto;
        text-align: center;
        /*-webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);*/
    }

    .intro-content h1 {
        color: lightgrey;
        display: block;
        font-family: 'Raleway', sans-serif;
        margin-bottom: -15px;
        font-size: 35px;
        font-weight: 700;
    }

    .intro-content h2 {
        color: lightgrey;
        display: block;
        font-family: 'Raleway', sans-serif;
        padding-left: 50px;
        margin-bottom: -15px;
        /*font-size: 55px;*/
        font-weight: 700;
    }

    .intro-content span {
        color: #6f5499;
        font-size: 135px;
        font-weight: 700;
        line-height: 0px;
        letter-spacing: 1px;
    }

    .intro-content span.number {
        font-size: 15em;
    }

    .intro-content .slogan-text {
        font-weight: 400;
        font-size: 25px;
        padding-left: 21px;
    }

    .profile-page,
     {
        
        top: 0;
        left: 0;
        width: 100%;
    }

    .image-container {
        height: 100vh;
        position: fixed;
        padding: 0;
        right: 0;
    }
    
    .main-heading {
        
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        left: 10%;
        transform-origin: left;
        -webkit-transform-origin: left;
        -moz-transform-origin: left;
        -ms-transform-origin: left;
        -o-transform-origin: left;
        bottom: 40%;
    }
    
    .main-heading h1 {
        color: #fff;
        font-size: 50px;
        position: relative;
        text-transform: capitalize;
        text-align: left;
    }
    
    /*.main-heading h1:after {
        background-color: #00B796;
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 400px;
        height: 6px;
    }*/
    
    .content-container {
        left: 0;
        position: relative;
        padding: 0;
        background: #e8e7e4;
    }
    
                        /*------------------
                            7 ) Profile Page
                        ------------------*/
    
    /* ( a ) Story of Glory */
    
    .profile-page .image-container {
        background: url(/src/img/about_us_featured.png);
        background-size: cover;
        background-position: bottom;
    }

    .services {
        text-align: center;
        padding: 15px;
        -webkir-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .facts {
        /*background: url(/src/img/about_us_video.png);*/
        /*background-attachment: fixed;*/
        margin-bottom: 20px;
    }
    
    .facts-overlay {
        padding: 40px;
        background-color: rgb(35, 46, 52);
    }
    
    .facts i {
        color: #ffffff;
        margin-bottom: 20px;
    }
    
    .facts p {
        color: #fff;
    }
    
    .facts p.count {
        font-size: 29px;
    }
    
    .team-member-box {
        background-color: #f3f3f3;
        border: 1px solid #F3f3f3;
        margin-bottom: 50px;
        padding-top: 15px;
        -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
    }
    
    .team-member-box h4 {
        margin-bottom: 5px;
        margin-top: 15px;
        /*font-size: 18px;*/
        font-size: 1.5em;
    }
    
    .team-member-box p {
        color: #a3a2a2;
    }
    
    .team-member-box:hover {
        box-shadow: 3px 5px 9px #dfdfdf;
    }

    .video {
        box-shadow: 2px 5px 9px #dfdfdf;
    }
    
    .video iframe {
        width: 560px; 
        height: 315px;
    }

    .about-us-desc p:first-child {
        font-size: 17px;
    }
    
    .about-us-desc p:last-child {
        -webkit-column-count: 2;/* Chrome, Safari, Opera */
        -moz-column-count: 2;/* Firefox */
        column-count: 2; 
        -webkit-column-gap: 30px;/* Chrome, Safari, Opera */ 
        -moz-column-gap: 30px;/* Firefox */ 
        column-gap: 30px;
        font-size: 14px;
    }
    
    /* First, define the common wrapper elements 
        Padding-top is for the fixed height header of the embedded content */
    
    .youtubeWrapper {
        /*position: relative;*/
        padding-top: 30px; 
        height: 0; 
        /*overflow: hidden;*/
        padding-bottom: 56.25%;
    }
        
    /* For each content source, set the IFRAME to be top left and occupy 100% of width and height of the containing DIV wrapper */    
    .youtubeWrapper iframe,
    .youtubeWrapper object,
    .youtubeWrapper embed {
        /*position: absolute;*/
        top: 0;
        left: 0;
        /*width: 100%;*/
        /*height: 100%;*/
    }

       .services {
        text-align: center;
        padding: 15px;
        -webkir-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    h2.small-heading {
        padding: 60px 0 10px 0;
        font-size: 2.25em;
        margin-bottom: 60px;
        position: relative;
        display: block;
        text-align: center;
    }
    
    h2.small-heading::after {
        position: absolute;
        font-family: 'FontAwesome';
        font-size: 35px;
        content: "\f107";
        left: 48%;
        bottom: -28px;
        color: #073a63;
        background-color: #e8e7e4;
        padding: 0px 8px;
    }
    
    h2.small-heading::before {
        position: absolute;
        bottom: -10px;
        content: "";
        height: 2px;
        background-color: #073a63;
        display: block;
        width: 23%;
        left: 38%;
    }

    .full-height {
        min-height: 100vh;
    }

    ::ng-deep .dx-scheduler-date-table-other-month.dx-scheduler-date-table-cell {
        
        color: rgba(0, 0, 0, 0.3);
    }
    
    ::ng-deep .dx-scheduler-group-header-content {
        position: relative;
    }
    
    ::ng-deep .dx-template-wrapper {
        position: relative;
        height: 100%;
    }
    
    ::ng-deep .avatar {
        width: 155px;
        float: left;
        overflow: hidden;
        position: relative;
        height: 125px;
    }
    
    ::ng-deep .name {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
    ::ng-deep .name h2 {
        color: #fff;
        text-align: left;
        padding: 0 0 5px 175px;
    }
    
    ::ng-deep .info {
        width: auto;
        text-align: left;
        height: 100%;
        font-size: 11pt;
        font-weight: normal;
        padding: 25px 20px;
    }
    
    ::ng-deep .userInfo div {
        margin: 20px;
    }
    
    ::ng-deep .day-cell {
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    

    



    ::ng-deep .dx-scheduler-cell-sizes-vertical{
        height: 25px;
    }
    

    