<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>isMoblie</title>

    <!-- meta data -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />   

</head>

<body>

    <!-- SCHEDULER -->

    <div class="content-container col-md-12 col-sm-12">

        <div class="clearfix full-height">
            <h2 class="small-heading">SCHEDULE</h2>
            <div class="row" style="justify-content: center">
                <div class="col-md-10">
                    <div class="row">
                        
                        <dx-scheduler
                            [dataSource]="dataSource"
                            currentView="Week"
                            [currentDate]="currentDate"
                            [firstDayOfWeek]="1"
                            [startDayHour]="6"
                            [endDayHour]="20"
                            [showAllDayPanel]="false"
                            [height]="800"
                            [groups]="['roomID']"
                            resourceCellTemplate="resourceCellTemplate"
                            dataCellTemplate="dataCellTemplate">
                            
                            <dxi-view
                                type="week"
                                name="Week"
                                groupOrientation="vertical"
                                [cellDuration]="30"
                                [intervalCount]="1">
                            </dxi-view>

                            <dxi-view
                                type="month"
                                name="Month"
                                groupOrientation="vertical"
                                [intervalCount]="1">
                            </dxi-view>

                            <dxi-view
                                type="agenda"
                                name="Agenda"
                                groupOrientation="vertical">   
                            </dxi-view>

                            <dxi-view
                                type="day"
                                name="Day"
                                groupOrientation="horizontal"
                                [intervalCount]="2">
                            </dxi-view>

                            <dxi-resource
                                fieldExpr="roomID"
                                [allowMultiple]="false"
                                [dataSource]="resourcesDataSource"
                                label="Conference Room">
                            </dxi-resource>

                            <div *dxTemplate="let room of 'resourceCellTemplate'">
                                <div class='name' [style.background]="room.color">
                                    <h2>{{room.text}}</h2>
                                </div>
                                <div class='avatar'>
                                    <img [src]="room.data.avatar" />
                                </div>
                                <div class='info' [style.color]="room.color">
                                    <br/>
                                    <b>{{room.data.description}}</b>
                                </div>
                            </div>
                            <div *dxTemplate="let cellData of 'dataCellTemplate'" class='room-weekend' [ngClass]="markWeekEnd(cellData)">
                                <div class='day-cell'>{{cellData.text}}</div>
                            </div>
                        
                        </dx-scheduler>
        
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>

</html>