<div class="introduction">
    <div class="content-container col-md-12 col-sm-12">
        <!--( A ) Story of Glory -->
        <div class="clearfix full-height">
            <h2 class="small-heading">WORKSPACE</h2>
            <div class="row">
                <div class="col" style="display: flex; justify-content: center;">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=500&height=875&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=481386652348883"
                            width="500" height="875" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allow="encrypted-media"></iframe>
                            
                </div>
            </div>

        </div>
        
    </div>
</div>