<!doctype html>

<html lang="en" class="no-js">

<head>
    <title>isMobile</title>

    <!-- meta data -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body>

    <!-- home-page -->

    <div class="home-page">

        <img class="background" src="/src/img/background.png"> 
        
        <!-- Navigation Menu -->

        <div class="home-container" (click)="hideAndShow($event)">

            <div class="home-content">
                <h2 class="small-heading">WELCOME TO ISMOBILE</h2>
                <h2 class="client-name">Vattenfall</h2>
                <h2 class="client-info">Your meeting is 11:00 in conference room Blue</h2>
                <h2 class="home-text-heading">Upcoming meetings</h2>

                <div [@move]="state" (@move.done)="onEnd($event)" class="carousel-container">
                    <div class="carousel">
                        <!--    TMP DUMMY DATA    -->
                        <h2>2018-01-01 08:00 in Red</h2>
                        <h2>2018-01-01 09:00 in Blue</h2>
                        <h2>2018-01-01 10:00 in Red</h2>
                        <h2>2018-01-01 11:00 Vattenfall in Blue</h2>
                        <h2>2018-01-01 12:00 in Blue</h2>
                        <h2>2018-01-01 13:00 in Red</h2>
                        <h2>2018-01-01 14:00 in Blue</h2>
                        <h2>2018-01-01 15:00 in Red</h2>
                        <h2>2018-01-01 16:00 in Blue</h2>
                        <h2>2018-01-01 17:00 in Red</h2>
                        <h2>2018-01-01 18:00 in Blue</h2>
                        <h2>2018-01-01 19:00 in Red</h2>
                        <h2>2018-01-01 20:00 in Blue</h2>
                        <h2>2018-01-01 21:00 in Red</h2>
                        <h2>2018-01-01 22:00 in Blue</h2>
                        <h2>2018-01-01 23:00 in Red</h2>
                        <h2>2018-01-01 24:00 in Blue</h2>
                    </div>
                </div>

            </div>

            <div class="menu" [@toggleMenu]='openClose'>

                <!-- Home Navigation Menu Button -->

                <a class="nav-btn" [routerLink]="['/home']">
                    <img alt="" src="/src/img/portfolio.jpg">

                    <div class="heading">
                        <i class="fa fa-home"></i>
                        Home
                    </div>
                </a>

                <!-- About Navigation Menu Button -->

                <a class="nav-btn" [routerLink]="['/about']" routerLinkActive="active">
                    <img alt="" src="/src/img/about.jpg">

                    <div class="heading">
                        <i class="fa fa-users"></i>
                        About
                    </div>
                </a>

                <!-- Calendar Navigation Menu Button -->

                <a class="nav-btn" [routerLink]="['/calendar']" routerLinkActive="active">
                    <img alt="" src="/src/img/conference.png">

                    <div class="heading">
                        <i class="fa fa-calendar"></i>
                        Calendar
                    </div>
                </a>

                <!-- Options Navigation Menu Button -->

                <a class="nav-btn" [routerLink]="['/products']" routerLinkActive="active">
                    <img alt="" src="/src/img/service.jpg">

                    <div class="heading">
                        <i class="fa fa-laptop"></i>
                        Products
                    </div>
                </a>
               
            </div>

        </div>

        <!-- Router outlet -->

        <div [@routerTransition]="getState(o)">
            <router-outlet #o="outlet" class="dx-viewport">
            </router-outlet>
        </div>

    </div>

</body>

</html>