<!doctype html>

<html lang="en" class="no-js">

<head>

    <!-- meta data -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">

    <!-- title and favicon -->

    <title>About Hiryu Kai</title>
    <link rel="icon" href="/src/img/icon/fav_icon.gif">
    
    <link type="text/css" rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    


</head>

<body>
    
    <!-- home-page -->
    
    <div class="home-page">
        
        <img alt="" src="/src/img/blueroad.png" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" (click)="hideAndShow($event)">

        
        <!-- Navigation Menu -->

        <div class="menu" [@toggleMenu]='openClose'>

            <a class="profile-btn" [routerLink]="['/about']" routerLinkActive="active">
                <img alt="" src="/src/img/about.jpg">

                <div class="heading">
                    <i class="fa fa-users"></i>
                    About
                </div>
              </a>
            
            <!-- Single Navigation Menu Button -->
            
            <a class="products-btn">
                <img alt="" src="/src/img/portfolio.jpg">

                <div class="heading">
                    <i class="fa fa-database"></i>
                    Products
                </div>
              </a>
            
            <!-- Single Navigation Menu Button [ END ]  -->
            
            <a class="Calendar-btn" routerLink="/calendar" routerLinkActive="active">
                <img alt="" src="/src/img/conference.png">

                <div class="heading">
                    <i class="fa fa-calendar"></i>
                    Calendar
                </div>
              </a>
            
            <!-- Single Navigation Menu Button [ END ]  -->
            
            <a class="options-btn">
                <img alt="" src="/src/img/options.png">
                
                <div class="heading">
                    <i class="fa fa-cogs"></i>
                    Options
                </div>
              </a>
            
            <!-- Single Navigation Menu Button [ END ]  -->
            
        </div>

        <div class="introduction" [@routerTransition]="getState(o)">
            <router-outlet #o="outlet"></router-outlet>
        </div>
        
    </div>
    
</body>
</html>