<div class="introduction" (click)="showSchedule($event)" (swipeUp)="showSchedule($event)">

  <div class="content-container col-md-12 col-sm-12">

    <h2 class="room-heading">
      Room blue
    </h2>
    <h2 class="small-heading">
      {{currentDate | date:'HH:mm'}}
    </h2>
    <h1>Ongoing meeting untill 17:00</h1>
  </div>

  <div class="schedule-container" [@toggleSchedule]='openClose'>
    <div class="schedule-content">
      <iframe src="https://wiki.ismobile.com/display/ISMOBILE/calendar/3c099332-8c8e-471d-9c3b-103999fa44a9?calendarName=Red%20Conference"
      style="width: 80vw"></iframe>
    </div>
  </div>
</div>