.introduction {
    float: right;
    padding: 0;
    width: 100%;
    height: 100%;
}

.content-container {
    background-image: linear-gradient(to bottom right, #1A2980, #26D0CE);
    position: fixed;
    height: 100%;
    padding: 0;
    color: #fff;
    font: "Roboto", Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedule-container {
    width: 100%;
    height: 100%;
    position: fixed;
}

.schedule-content {
    color: #fff;
    font: "Roboto", Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-image: linear-gradient(to bottom right, #5C258D, #4389A2);
}

h1 {
    font-size: 6vw;
}

h2.small-heading {
    padding: 10vh 0 5vh 0;
    font-size: 15vw;
}

h2.room-heading {
    padding: 10vh 0 5vh 0;
    font-size: 10vw;
}



