

<div class="introduction" (click)="timer=(60 * 3)">

    <!-- TMP TMP TMP TMP Products TMP TMP TMP TMP -->

    <!--( b ) Profile Page Content -->

    <div class="content-container col-md-12 col-sm-12">

        <div class="container">

            <div class="modal fade" id="{{'carousel' + i}}" *ngFor="let item of products; let i = index" [ngClass]="i == 0 ? 'item active' : 'item'">
                <div class="modal-dialog">
                    <div class="modal-content" (click)="timer=(60 * 3)">
                        <div class="modal-body accordion" id="accordion">

                            <!--Carousel Wrapper-->
                            <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'"
                                [interval]="0" (activeSlideChange)="activeSlideChange($event)">

                                <!--First slide-->
                                <mdb-carousel-item *ngFor="let slides of item.images; let i = index" [ngClass]="i == 0 ? 'item active' : 'item'">
                                    <div href="#collapseFirst" data-toggle="collapse" class="collapse-toggle view w-100">

                                        <img class="d-block" src="{{slides.image}}"
                                            alt="First slide">
                                        <div class="mask rgba-black-light"></div>
                                        <div class="carousel-caption">
                                                <div class="styling-w styling-size">{{item.name}}</div>
                                            <div id="collapseFirst" class="collapse" data-parent="#accordion">
                                                    <div class="styling-w">{{slides.description}}
                                                    </div>    
                                            </div>
                                        </div>
                                    </div>
                                </mdb-carousel-item>
                                <!--/First slide-->

                            </mdb-carousel>
                            <!--/.Carousel Wrapper-->

                        </div><!-- /.modal-body -->
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="clearfix full-height">
                <h2 class="small-heading">OUR PRODUCTS</h2>

                <div class="col">
                    <div class="row">

                        <ul class="nav nav-indicators nav-stacked">

                            <div class="col-md-6" *ngFor="let item of products; let i = index" [ngClass]="i == 0 ? 'item active' : 'item'">
                                <div class="team-member-box center-block text-center">
                                    <li><a href="{{'#carousel' + i}}" data-toggle="modal">
                                            <img src="{{item.icon}}" style="width: initial" class="img-responsive col-md-12">
                                        </a></li>
                                        <span class="styling"><br>
                                        <div class="styling-size text-uppercase">{{item.name}}</div><br>
                                        <span class="italic-style">{{item.caption}}</span></span>
                                </div>
                            </div>

                        </ul>
                        
                    </div>
                </div>

            </div>

        </div><!-- /.container -->

    </div>
    <!-- Social Media Icons [ END ] -->

</div>