
    /*----- stylesheet imports -----*/
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

    /*---- style for calendar popup ----*/
.dx-datebox-wrapper > .dx-overlay-content {
    transform: translate(285px, 260px) !important
}
    /*----- FIX THIS -----*/
.dx-dropdownlist-popup-wrapper > .dx-overlay-content {
    transform: translate(44px, 530px) !important;
    width: 240px !important;
}


::ng-deep .item-badge {
    text-align: center;
    float: left;
    margin-right: 12px;
    color: white;
    width: 18px;
    height: 18px;
    font-size: 19.5px;
    border-radius: 18px;
    margin-top: 2px;
}
